
h1 {
  /* font-weight: normal;
  padding-left: 80px;
  width: 300px; */
}

table {
  top: 0;
}

#title {
    /* padding: 0.5em;
    text-align: left;
    width: 300px; */
    font-weight: bold;
    font-size: 18px;
}

#map {
    width: 1230px;
    height: 780px;
}

#map-view {
  float: left;
  margin-right: 50px;
  width: 1240px;
}

#second-view {
  /* display: inline-block;
  position: absolute; */
  float: left;
  margin-right: 10px;
}

#chord {
  width: 600px;
  height: 740px;
  padding: .2em;
}

#chord-frame {
  width: 500px;
  height: 700px;
  fill: none;
  stroke: black;
  stroke-width: 10;
}

#state-info {
    font-weight: bold;
    font-size: 30px;
}

#company-name {
  font-weight: bold;
  font-size: 20px;
}

#market-cap {
  font-size: 15px;
}

#companyDropdown {
  float: left;
}

#comp-dropdown {
  width: 200px;
}

#infobox {
  position: absolute;
  bottom: 0;
  left: 0;
}

.country {
  stroke: black;
}

.states :hover {
    fill: rgb(31, 31, 31);
  }
  
  .state-borders {
    fill: none;
    stroke: rgba(255, 255, 255, 0.548);
    stroke-width: 0.2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
  }

  .markers {
    fill: rgba(128, 128, 128, 0.329);
  }

  .selected {
    fill: red;
    z-index: 5;
  }

  .bold {
    font-weight: bold;
    background-color: rgba(158, 49, 49, 0.205);
  }